ansible-lint>=3.5.0
bashate>=0.6.0
flake8>=3.5.0
mock>=2.0.0
pep8>=1.7.1
pylint>=2.1.1
testrepository>=0.0.20  # Apache-2.0/BSD

ansible==2.7.0
ansible-vault==1.2.0
click==7.0
filelock==3.0.9
gitpython==2.1.11
jsl==0.2.4
jsonschema==2.6.0
netaddr==0.7.19
orderedattrdict==1.5
paramiko==2.4.2
pip2pi==0.7.0
pyaml==17.12.1
pyasn1==0.4.4
pyghmi==1.2.14
pyroute2==0.5.3
pysnmp==4.4.6
tabulate==0.8.2
wget==3.2
