python36-devel
libffi-devel
ipmitool
debootstrap
gcc
vim
bridge-utils
cpp
flex
bison
unzip
cmake
fping
gcc-c++
patch
perl-ExtUtils-MakeMaker
perl-Thread-Queue
ncurses-devel
nginx
bash-completion
yum-utils
createrepo
sshpass
python-tabulate
openssl-devel-1.0.2k-16.el7
tcpdump
dnsmasq
nmap
xorriso
bzip2
