#jinja2: lstrip_blocks: "true"
# Copyright 2017 IBM Corp.
#
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
{% set network = item %}
{% if networks[network]['method'] == 'dhcp' %}
BOOTPROTO=dhcp
{% else %}
BOOTPROTO=none
{% endif %}
ONBOOT=yes
NAME={{ networks[network]['eth-port'] }}.{{ networks[network]['vlan'] }}
DEVICE={{ networks[network]['eth-port'] }}.{{ networks[network]['vlan'] }}
VLAN=yes
{# If bridge is here, take it, otherwise check if someone down the road is using one.#}
{% if 'bridge' in networks[network] %}
BRIDGE={{ networks[network]['bridge'] }}
{% else %}
    {% for bridge_network in host_networks %}
        {# if vlan is not present, but bridge is, we need to specify BRIDGE= in interface.#}
        {% if ( 'vlan' in networks[bridge_network] and
                'bridge' in networks[bridge_network] and
                networks[bridge_network]['eth-port'] == networks[network]['eth-port'] and
                networks[bridge_network]['vlan'] == networks[network]['vlan'] ) %}
BRIDGE={{ networks[bridge_network]['bridge'] }}
        {% endif %}
    {% endfor %}
    {% if 'addr' in host_networks[network] %}
IPADDR={{ host_networks[network]['addr'] }}
    {% endif %}
    {% if 'netmask' in networks[network] %}
NETMASK={{ networks[network]['netmask'] }}
    {% endif %}
    {% if 'gateway' in networks[network] %}
GATEWAY={{ networks[network]['gateway'] }}
    {% endif %}
    {% if 'network' in networks[network] %}
NETWORK={{ networks[network]['network'] }}
    {% endif %}
    {% if 'broadcast' in networks[network] %}
BROADCAST={{ networks[network]['broadcast'] }}
    {% endif %}
    {% if 'dns-search' in networks[network] %}
DOMAIN={{ networks[network]['dns-search'] }}
    {% endif %}
    {% if 'dns-nameservers' in networks[network] %}
DNS1={{ networks[network]['dns-nameservers'] }}
    {% endif %}
{% endif %}

